@charset "UTF-8";

body{
	text-align:center;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}
body .outline{
	text-align:left;
	width:auto;
	max-width:980px;
	margin:0px auto;
	background-color:#dddddd;
}
body .outline .header{
	text-align:center;
	background-color:#ff0099;
}
body .outline .header .logo{
}
body .outline .header .logo a{
	font-size:150%;
	font-weight:bold;
}

body .outline .middle{
	clear:both;
}
body .outline .middle .column1{
	width:68%;
	float:left;
	padding:2%;
	background-color:#dddd88;
}

body .outline .middle .column2{
	width:20%;
	float:right;
	padding:2%;
	background-color:#009999;
}

@media screen and (max-width:530px){
	body .outline .middle .column1{
		width:auto;
		float:none;
	}
	body .outline .middle .column2{
		width:auto;
		float:none;
	}
}

body .outline .footer{
	clear:both;
	text-align:center;
	background-color:#008833;
}

